[Desktop Entry]
Name=Fcitx5
Comment=Start Fcitx5 input method
Exec=fcitx5 -d
Icon=fcitx5
Type=Application
Categories=System;Utility;
X-GNOME-Autostart-enabled=true
X-GNOME-AutoRestart=true
