[Desktop Entry]
Type=Application
Version=1.0
Name=MotrixNext
Comment=MotrixNextstartup script
Exec=/usr/bin/motrix-next --autostart
StartupNotify=false
Terminal=false